.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgba(223, 223, 223, 0.4);
  backdrop-filter: blur(10px);
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  z-index: 1000;
}

.logo_div h1 {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  cursor: pointer;
}

.linktag_logo {
  text-decoration: none;
}

.linktag {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.linktag:hover {
  color: rgb(104, 104, 104);
  transition: 0.2s ease-in-out;
}

.links {
  display: flex;
  list-style: none;
  gap: 5rem;
  margin: 0 100px 0 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 13px;
}

.links li {
  cursor: pointer;
}

.menu_btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.cart_btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  margin-right: 1rem;
}

.signin_logo {
  font-size: 25px;
  position: absolute;
  right: 84%;
  top: 90px;
}

.dropdown_menu {
  position: absolute;
  top: 60px;
  right: 0px;
  color: black;
  border-radius: 5px;
  z-index: 1001;
}

.dropdown_menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: rgba(223, 223, 223, 0.4);
  backdrop-filter: blur(10px);
  height: 700px;
  font-family: Arial, Helvetica, sans-serif;
}

.dropdown_menu li {
  padding: 10px 70px;
  cursor: pointer;
}

.dropdown_menu li:hover {
  color: rgb(77, 77, 77);
}

.logout_btn {
  background-color: transparent;
  border: none;
  font-size: 15px;
}

.name,
.name1 {
  font-weight: 600;
}

.dropdown_menu .name:hover {
  color: black;
}

.dropdown_menu .name1:hover {
  color: black;
}

.cart_modal,
.side_menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 320px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1002;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
}

.cart_modal.show,
.side_menu.show {
  transform: translateX(0);
}

.cart_header,
.side_menu_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f1f1f1;
  border-bottom: 1px solid #ddd;
}

.cart_body,
.side_menu_body {
  padding: 1rem;
}

.cart_close_btn,
.side_menu_close_btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/* New CSS for side menu */
.side_menu_body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.side_menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.side_menu li {
  padding: 15px 20px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  color: darkgray;
}

.side_menu li:hover {
  color: rgba(0, 0, 0, 0.8);
}

.side_menu .logout {
  background-color: transparent;
  border: none;
  font-size: 15px;
  padding: 15px 0 0 20px;
  color: black; /* Ensure the color is black */
}

.side_menu .name,
.side_menu .name1 {
  font-weight: 600;
  padding: 15px 20px;
  border-bottom: 1px solid #ddd;
}

.side_menu .name {
  color: rgb(0, 0, 0);
  padding-left: 35px;
}

.side_menu .name1 {
  color: rgb(0, 0, 0);
  padding-left: 35px;
}

@media screen and (max-width: 525px) {
  .logo_div h1 {
    font-size: 16px;
    transition: 0.3s ease-in-out;
  }

  .navbar {
    height: 45px;
  }

  .cart_btn{
    font-size: 19px;
  }

  .menu_btn{
    font-size: 19px;
  }
}
