.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
  }
  
  h1 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .toggle-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .toggle-btn {
    padding: 10px 40px;
    border: 1px solid #1a022c;
    background-color: white;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .toggle-btn.active {
    background-color: rgb(136, 136, 136);
    color: rgb(255, 255, 255);
  }
  
  .form-container {
    width: 100%;
    max-width: 400px;
    padding: 30px 23px 30px 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submit_regis {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(110, 110, 110);
    transition: background-color 0.3s;
  }
  
  .submit_regis:hover {
    background-color: #3c3c3c;
  }
  
  .error-message {
    color: red;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .success-message {
    color: green;
    margin-bottom: 10px;
    text-align: center;
  }



