/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.admin_navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #2d2d2d;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin_navbar h2 {
  cursor: pointer;
  color: rgb(169, 169, 169);
  padding-bottom: 20px;
  font-size: 18px;
  text-align: center;
}

.admin_navbar h2.selected {
  color: rgb(255, 255, 255);
  transition: 0.2s ease-in-out;
}

.admin_navbar .logout_bt {
  background-color: rgb(208, 0, 0);
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-top: auto;
}

.admin_navbar .logout_bt:hover {
  transition: 0.3s ease-in-out;
  background-color: rgb(150, 0, 0);
}

.admin_container {
  padding: 20px;
  margin-left: 200px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.adminlogin_container {
  margin-left: 0;
  padding: 20px;
  flex: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.admin_container h1 {
  margin-bottom: 20px;
  color: #333;
}

.admin_form-container {
  width: 100%;
  max-width: 400px;
  padding: 30px 12px 30px 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.admin_form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.admin_form-group input,
.admin_form-group select,
.admin_form-group textarea {
  width: 95%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit_admin {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  background-color: #2d2d2d;
  transition: background-color 0.3s;
}

.submit_admin_add {
  width: 95%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  background-color: #2d2d2d;
  transition: background-color 0.3s;
}

.submit_admin_add:hover {
  background-color: #646464;
}

.submit_admin:hover {
  background-color: #646464;
}

.admin_error-message {
  color: red;
  margin-bottom: 10px;
  text-align: center;
}

.admin_success-message {
  color: green;
  margin-bottom: 10px;
  text-align: center;
}

/* Product list table */

.admin_table_cntnr {
  width: 100%;
}

.admin_table {
  width: 100%;
}

.admin_table th {
  background-color: #2d2d2d;
  color: white;
  padding: 10px;
  text-align: center;
}

.admin_table td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.admin_dlt_btn {
  background-color: transparent;
  border: none;
  font-size: 22px;
  cursor: pointer;
  transition: color 0.3s;
}

.admin_dlt_btn:hover {
  color: rgb(215, 0, 0);
}

@media (max-width: 1024px) {
  .admin_navbar {
    width: 150px;
  }

  .admin_navbar h2 {
    font-size: 14px;
  }

  .admin_navbar .logout_bt {
    font-size: 14px;
  }

  .admin_container {
    margin-left: 150px;
  }
}

@media (max-width: 768px) {

  .admin_container h1 {
    display: none;
  }
  .admin_navbar {
    width: 100%;
    height: 50px;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0;
  }

  .admin_navbar h2 {
    font-size: 9px;
    margin-top: 30px;
  }

  .admin_navbar .logout_bt {
    margin-top: 0;
    font-size: 9px;
    padding: 6px 15px;
    border-radius: 4px;
    transition: 0.3s ease-in-out;
  }

  .admin_container {
    margin-left: 0;
    padding: 10px;
  }

  .admin_form-container {
    width: 90%;
    max-width: none;
    padding: 20px;
    margin-top: 10%;
    transition: 0.3s ease-in-out;
  }

  .admin_table {
    width: 100%;
    margin-top: 80px;
  }

  .admin_table th, 
  .admin_table td {
    padding: 5px;
  }
}
