* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.slider {
  margin: 0 20px;
  overflow: "hidden";
  padding: 2rem 0;
}

.slider img {
  width: 100%;
  border-radius: 10px;
}

.react-multi-carousel-list {
  padding: 0rem 0 2rem 0;
}

.custom-dot-list-style button {
  border: none;
  background: rgb(255, 68, 68);
}
.react-multi-carousel-dot.react-multi-carousel-dot--active button {
  background: rgb(255, 68, 68) !important;
}

/* cards */

.card_div{
padding: 5px 20px;}

.card_div h4,p{
  font-family: Arial, Helvetica, sans-serif;
}

.card_div p{font-size: 15px;}

/* footer */

.footer_cntnr {
  background-color: rgb(0, 0, 0);
  padding: 35px 60px 30px 0px;
  color: white;
  display: flex;
  justify-content: space-around;
  font-family: Arial, Helvetica, sans-serif;
}

.footer_cntnr h1 {
  color: white;
  font-family: "Times New Roman", Times, serif;
}

.help_div p {
  font-size: 12px;
}

.compny_div p {
  font-size: 12px;
}

.mmbr_login,
.admin_login {
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.mmbr_login:hover{color: rgb(139, 139, 139);
transition: 0.2s ease-in-out;} 
.admin_login:hover{color: rgb(139, 139, 139);
transition: 0.2s ease-in-out;} 



@media screen and (max-width: 800px) {
 
  .footer_cntnr {
    padding: 25px 10px 30px 0px;
  transition: 0.2s ease-in-out;}

  .footer_cntnr h1 {
    font-size: 15px;
    transition: 0.2s ease-in-out;
  }

  .help_div p {
    font-size: 6px;
    transition: 0.2s ease-in-out;
  }

  .help_div h5{font-size: 10px;
    transition: 0.2s ease-in-out;}

  .compny_div p {
    font-size: 6px;
    transition: 0.2s ease-in-out;
  }

  .compny_div h5 {
    font-size: 10px;
    transition: 0.2s ease-in-out;
  }

  .mmbr_login {
    font-size: 6px;
    transition: 0.2s ease-in-out;
  }

  .admin_login {
    font-size: 6px;
    transition: 0.2s ease-in-out;
  }
}
